
/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track of the scrollbar */
  ::-webkit-scrollbar-track {
    background: #E6E5EB;
  }
  
  /* Handle of the scrollbar */
  ::-webkit-scrollbar-thumb {
    background: #3e4551d0;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3E4551
  }
  