@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 247 44% 100%;
    --foreground: 247 60% 0%;
    --muted: 217 20% 85%;
    --muted-foreground: 217 13% 28%;
    --popover: 247 44% 100%;
    --popover-foreground: 247 60% 0%;
    --card: 247 44% 100%;
    --card-foreground: 247 60% 0%;
    --border: 247 12% 91%;
    --input: 247 12% 91%;
    --primary: 247 44% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 44% 47%;
    --secondary-foreground: 0 0% 100%;
    --accent: 277 44% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 1 89% 27%;
    --destructive-foreground: 1 89% 87%;
    --ring: 247 44% 47%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 247 34% 3%;
    --foreground: 247 40% 98%;
    --muted: 217 20% 15%;
    --muted-foreground: 217 13% 72%;
    --popover: 247 34% 3%;
    --popover-foreground: 247 40% 98%;
    --card: 247 34% 3%;
    --card-foreground: 247 40% 98%;
    --border: 247 12% 15%;
    --input: 247 12% 15%;
    --primary: 247 44% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 44% 47%;
    --secondary-foreground: 0 0% 100%;
    --accent: 277 44% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 1 89% 46%;
    --destructive-foreground: 0 0% 100%;
    --ring: 247 44% 47%;
  }
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
